.img-fluid{max-width:100%;height:auto}

.margenlogo
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.txtfooter
{
    text-align: center;
    margin-top: 60px !important;
}
.pointer
{
    cursor: pointer;
}
