# Este modulo sirve para configurar el apache


<IfModule mod_rewrite.c>

    # Activar el rewrite

    RewriteEngine on

    # Redireccion por si hay un error
    ErrorDocument 404 http://localhost/curso_php_master/Carrito%20Compra/error/


    # Con rewritecond le pone condiciones al reeescritor de url
    # Cuanlquier script que solicite un directorio a fichero, tienen acceso denegado
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    # Reglas de reescritura
    # Le dice como se tiene que reescribir la url

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
    # Escribe la url con paramatros get pero con  ^(.*)/(.*)
    # le dice que se vea asi index.php/users/save

    ## Mas comodo a la vista

</IfModule>