.avatar_mask
{
    height: 40px;
    width: 40px;
    border-radius: 900px;
    overflow: hidden;
    background: gray;
}
.avatar_mask img
{
    height: 40px;
}
.tarjetaimagen
{
    padding: 0!important;
    margin: 0!important;
}
.imagenhome
{
    height: 400px;
    width: 100vw !important;
}
.w3-center
{
    display:inline-block !important;
    width:auto!important;
}

.pointer
{
    cursor: pointer !important;
}